body{
    background-image: url(greenleaves.jpg);
}
.container-fluid{
    margin-top: 150px;
}
.OTP{
    width: 100%;
    height: 40px;
    border: 1px;
}
.submit{
    margin-top: 40px;
    margin-left: 200px;
    height: 40px;
    width:  170px;
    border: 1px;
    border-radius: 40px;
}
.submit:hover{
    background-color: green;
}