body{
    background-image: url(greenleaves.jpg);
    background-position: center;
    background-size: cover;
    min-height: 100vh;
    animation: none;

} 
.container1{
    background-color: red;
  /*  position: absolute;
    top: 40%;
    left: ; */
    position: relative;
    margin-top: 20%;
    margin-left: 25%;
    width: 50%;
    height: 400px;
}
#h2{
    margin: auto;
    margin-left: 20%;
    margin-top: -20%;
}
#form{
    position: relative;
    top: 20%;
}
#form input{
    display: block;
    position: relative;
    top: 30%;
    left: 20%;
    height: 40px;
    width: 320px;
}
.container-fluid{
    margin-left: 37%;
    
}
.container-fluid .text1{
    display: flex ;
    width: 300px;
}
.container-fluid .new{
    position: absolute;
    margin-left: -8%;
    height: 40px;
    width: 320px;
}
.container-fluid .confirm{
    position: absolute;
    margin-left: -8%;
    top: 100%;
    width: 320px;
    height: 40px;
}
.container-fluid .text2{
    margin-top: 50px;
    width: 320px;
    font-size: 25px;
}
::placeholder{
     font-size: 10px;
}
#submit {
  padding: 10px 20px;
  background-color: darkgreen; 
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
  position: absolute;
  top: 170%;
}

#submit:hover {
  background-color: lightgreen; 
}

#submit:active {
  transform: scale(0.95); 
}
.position-absolute{
    position: relative;
    top: 50%;
    left: 35%;
    background-color: red;
    height: 300px;

    
}

#new{
    margin-left: 1px;
}
#confirm{
    margin-left: 1px;
}
.position-absolute #submit{
    border-radius: 30px;
    margin-bottom: -500px;
}
.position-absolute1{
    margin: auto;
}
@media (max-width:600px) {
    body{
    background-image: url(greenleaves.jpg);
    background-position: center;
    background-size: cover;
    min-height: 100vh;
    animation:Slideshow 10s infinite ;
}
@keyframes Slideshow {
  0% {
    background-image: url('dark-farm.webp');
  }
  33% {
    background-image: url('big-farm.webp');
  }
  66% {
    background-image: url('big-farm2.webp');
  }
  100% {
    background-image: url('bigfarm3.webp');
  } 
} 

    

#submit{
    position: absolute;
    top: 200%;
    height:50px;
    width: 170px;
    border-radius: 30px;
    border: 1px;
    background-color: darkgreen;
}
#submit:hover{
    cursor: pointer;
    background-color: lightgreen;
}
#submit:active {
  animation: bounce 0.3s;
}
@keyframes bounce {
  0% { transform: scale(1); }
  30% { transform: scale(0.9); }
  50% { transform: scale(1.1); }
  70% { transform: scale(1.03); }
  100% { transform: scale(1); }
}
}
.container-fluid{
    margin-left: 10%;
}